.top-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avatar {
  display: flex;
  height: 50px;
  margin-bottom: 15px;
  align-items: center;
}

.avatar img {
  margin-left: 19px;
  display: block;
  height: 100%;
  width: auto;
  border: 1px solid #d2d2d2;
  border-radius: 50%;
}

.username {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 400;
}

.home-wrapper {
  margin-top: 15px;

}

.chat-container {
  width: 100%;
  height: 80vh;
  display: flex;
}

.chat-list-container {
  left: 10px;
  position: absolute;
  width: 95%;
  height: 100%;
}

.setting{
  display: flex;
  height: 50px;
  margin-bottom: 15px;
  align-items: center;
  cursor: default;
}
.setting .mat-icon{
  margin-right: 19px;
}
.setting .setting-title{
  margin-right: 10px;
  font-size: 18px;
  font-weight: 300;
}




// CONTENT CONTAINER
.content-container{
  // min-width: 77%;
  height: calc(100% - 1px);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  // border: 1px solid #d2d2d2;
}

.mat-drawer-container{
width: 100%;
 flex: 1 0 auto;
 height: 100%;
}

.mat-drawer{
  width: 25%;
  height: 100%;
  overflow: hidden !important;
}

.drag-open-chat-list{
  cursor: move;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  // left: 14px;
  top: 135px;
  margin-left: 24px;
}

.drag-open-chat-list .open-chat-btn-move{
  margin: auto;
  margin-top: 5px;
  display: none;
  color: #c1c0c0;
}

.drag-open-chat-list:hover  .open-chat-btn-move{
 display: block;
}

@media only screen and (max-width: 750px) {
  .mat-drawer {
    width: 100%;
  }
}