<div class="home-wrapper">
    <div class="top-container no-copy">
        <div class="avatar">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTnKVKzjbASTv2fR09U_wghz4wfuXFzcXNEVw&usqp=CAU "
                alt="user avatar">
            <span class="username">User Name</span>
        </div>
        <div class="setting no-copy" (click)="handlerCloseChatList()" [routerLink]="['/setting']">
            <span class="setting-title">Setting</span>
            <mat-icon>settings</mat-icon>
        </div>
    </div>
    <div class="chat-container">
        <mat-drawer-container [hasBackdrop]="false" style="overflow: hidden;">
            <mat-drawer #drawer [mode]="'side'" [opened]="isActiveChatList">
                <app-chat-list (search)="handlerClickSearch($event)" (getChatItem)="handlerClickGetChatItem($event)"
                    (closeChatList)="handlerToggleChatList()" class="chat-list-container">
                </app-chat-list>
            </mat-drawer>
            <mat-drawer-content class="content-container">
                <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>

</div>

<div *ngIf="!isActiveChatList" cdkDrag cdkDragBoundary="body" class="drag-open-chat-list">
    <button mat-mini-fab color="primary" (click)="handlerToggleChatList()" class="open-chat-btn">
        <mat-icon inline="true" style="font-size: 20px;">format_align_left</mat-icon>
    </button>
    <mat-icon class="open-chat-btn-move">open_with</mat-icon>
</div>