.form-container{
    width: 333px; 
    // background: #f7f7f7; 
    padding: 40px 20px;
    border-radius: 5px;
}

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-fail-box{
    text-align: center;
    color: red;
}

.login-fail{
    color: red;
}

@media(max-width: 500px){
    .form-container{
        width: 70%;
        // margin-top: calc(50% - 230px);
    
}
}
