.log-button{
    color: #333333;
    height: 30px;
    display: flex;
    align-items: center;
    // padding-left: 12px;
    // padding-right: 12px;
    font-size: 13px;
    background: #dadcde14;
    color: #fff;
}