.setting-header{
    display: flex;
    align-items: center;
}
.setting-title{
    display: flex;
    align-items: center;
}

.setting-title{
    display: flex;
    align-items: center;
}
.setting-title .icon{
    margin-left: 23px;
}
.setting-title .setting-title-content{
    margin-left: 24px;
}