.bg-header {
  background: #1c64b7;
}
// .bg-header {
//   background: #0091ea;
// }

input::-webkit-input-placeholder {
  /* WebKit browsers */
  line-height: 1.5em;
}

input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  line-height: 1.5em;
}

input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  line-height: 1.5em;
}

input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  line-height: 1.5em;
}

input, textarea{
  margin: 0;
}