<div class="chat-list-container">
    <div class="chat-title bg-primary header">
        <span class="sub-header text-white">Chats</span>
        <mat-icon class="text-white no-copy" style="margin-right: 15px;" (click)="handlerCloseChatList()">blur_linear</mat-icon>
    </div>
    <div class="chat-list">
        <div class="chat-item" *ngFor="let chatItem of chatList">
            <app-chat-item   [chatIem] = "chatItem" (click) ="handlerClickChatItem(chatItem)"></app-chat-item>
        </div>
    </div>
    <div class="search-item">
        <app-search-item (search) ="handlerClickSearch($event)"></app-search-item>
    </div>
</div>
