.chat-message-item-container {
  display: inline-block;
  width: 100%;
}

.chat-message-item {
  width: 100%;
  display: flex;
  align-items: flex-end;
  color: #fff;
}

.chat-message-item p {
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
}

.chat-message-item img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
  display: inline-block;
  border-radius: 50%;
}

.chat-message-item p {
  max-width: calc(70% - 80px);
  height: auto;
  margin: 0;
  padding: 7px 12px;
  display: inline-block;
}

.border-for-friend-message {
  background: rgb(228, 228, 228);
  color: black;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.border-for-user-message {
  background: #316fb7;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.flex-resever {
  flex-direction: row-reverse;
}

.time-create {
  cursor: default;
}

.time-create p {
  font-size: 10px;
  text-align: center;
}
