<div class="chat-message-item-container">
    <div class="chat-message-item"
    [ngClass] = "messageItem.isFriend? '':'flex-resever'"
    >
        <img src= {{messageItem.avatar}} alt="user avatar">
        <p class="bg-header"
        [ngClass] = "messageItem.isFriend? 'border-for-friend-message':'border-for-user-message'"
        >{{messageItem.message}}</p>
    </div>
    <div class="time-create">
        <!-- <p>{{messageItem.time |date:"dd - MM - yyyy hh : mm : ss"}}</p> -->
        <p>{{messageItem.time.toString() |timeAgo}} &nbsp;&nbsp;&nbsp; {{messageItem.time |date:"medium"}}</p>
        <p matTooltip = "messageItem.time |date:dd/MM/yyyy'" matTooltipPosition="above" > {{messageItem.time.toString() |timeAgo}} &nbsp; {{messageItem.time |date:"medium"}}</p>
    </div>
</div>
