.search-item-container {
  width: calc(100% -1px);
  height: 84%;
  border-radius: 5px;
}

.search-item {
  width: 99%;
  height: 100%;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-item input {
  width: calc(100% - 84px);
  height: calc(100% - 5px);
  line-height: 1.4;
  margin: 0;
  border: 0;
  padding: 0 70px 0 14px;
  font-size: 15px;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
}

.search-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 14px;
}
.search-icon .mat-icon {
  font-size: 1.6em;
  color: #1f1f1f;
  transform: rotate(90deg);
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(82, 168, 236, 0.6);
}
