.error-dialog-container{
    width: 400px;
}

.close-button{
    margin: 20px 5px 15px 5px;
    font-size: 13px;
    height: 30px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    .error-dialog-container{
        width: 80vw;
    }
    
  }